; Example config.ini for Delivery Slot Bot
output_dir = /tmp/delivery-slot-bot

; Path to the chrome browser executable. If not supplied, the bundle installed Chromium will be used
;browser_executable_path =
; If you are running on a Raspberry Pi you should uncomment the following line:
;browser_executable_path = chromium-browser
; Whether to run without a GUI window opening. If not supplied, treated as true
browser_launch_headless = true
; The browser to launch/connect to, one of chrome/firefox. If not supplied, treated as chrome
browser_product = chrome

; Optional internal cron schedule. If not supplied, runs just once
cron = '*/5 * * * *'
; Optional User-Agent request header change. If not supplied, uses the browser default (with "Headless" removed)
;useragent =

; If you want to check Tesco, enter your login details here, and remove the initial ;
;tesco_username = email@example.com
;tesco_password = password

; If you want to check ASDA, enter your login details here, and remove the initial ;
;asda_username = email@example.com
;asda_password = password

; If you want to check Morrisons, enter your login details here, and remove the initial ;
;morrisons_username = email@example.com
;morrisons_password = password

delivery = true
click_and_collect = false

; If true or when using an external cron sheduler, alerts even if previously alerted to the same slots
; If false, only alerts the first time new slots show up (only when using internal cron scheduler)
; If not specified, defaults to true for backwards compatibility
alert_when_slots_still_available = false

; Sends a notification if all slots previously alerted to have gone
; Only supported when internal cron sheduler is used
alert_when_slots_gone = false

; Set Pushover API token and user token(s) where you'd like to receive push notifications
; Download the Pushover app on your device and create an account
; Login in to your account at pushover.net and create an application/API token
pushover_api_token = apitoken
; List the user keys who wish to receive alerts. If you only need 1, delete the second line.
pushover_notification_users[] = user1key
pushover_notification_users[] = user2key

; get accessToken from telegram [@BotFather](https://telegram.me/BotFather)
; telegram_api_token = 'xxxxxx'

; Set to true to have MacOS speak out "Alert! Alert! Alert! We have Tesco delivery slots!" on notifications
mac_speak = false

; Set to true to save JSON files and screenshots in the output directory
save_files = true
